@import 'root/mix'

h1
    color: $h1
    font-size: 2.75rem
    font-style: normal
    font-weight: 800
    line-height: normal
    letter-spacing: 0.0625rem
    margin-bottom: 3rem
    padding-left: 13rem
    text-shadow: 0px 0.3125rem 0.25rem rgba(0, 0, 0, 0.3)

h2
    color: $black
    font-size: 2.25rem
    font-style: normal
    font-weight: 700
    line-height: 3rem
    letter-spacing: 0.0625rem
h3
    color: $black
    font-size: 1.25rem
    font-style: normal
    font-weight: 700
    line-height: 3rem
    letter-spacing: 0.0625rem

p
    color: $p
    font-size: 1rem
    font-style: normal
    letter-spacing: 0.0625rem
    line-height: 2rem
    font-weight: 700

.header
    width: 100%
    height: 10.6rem
    background-color: $blue
    margin-bottom: 2rem
    &_logo
        margin-left: 3.125rem
        background-size: cover
        background-position: center
        &_img
            width: 14rem
            height: 4.6875rem
            margin-left: 3.125rem
            margin-top: 2rem

.title
    margin-bottom: 1.25rem

.cards
    justify-content: center
    height: 80rem
    display: grid
    grid-template-columns: 33rem 33rem
    grid-template-rows: 18rem 18rem 18rem
    column-gap: 10rem
    row-gap: 130px

.grid_img
    width: 33rem
    height: 18rem

.cards span
    float: right

.footer_li_a:hover
    color: $orange

@media (max-width: 1920px)
    html
        font-size: 14px
    .cards
        height: 80rem
        grid-template-columns: 32rem 32rem
        grid-template-rows: 18rem 18rem 18rem
        column-gap: 5rem
        row-gap: 8rem
    .grid_img
        width: 32rem
        right: 18rem

@media (max-width: 1500px)
    html
        font-size: 14px
    .cards
        height: 80rem
        grid-template-columns: 32rem 32rem
        grid-template-rows: 18rem 18rem 18rem
        column-gap: 5rem
        row-gap: 8rem
    .grid_img
        width: 32rem
        right: 18rem

@media (max-width: 1024px)
    html
        font-size: 13px
    .cards
        height: 85rem
        grid-template-columns: 32rem 32rem
        grid-template-rows: 19rem 19rem 19rem
        column-gap: 5rem
        row-gap: 10rem
    .grid_img
        width: 32rem
        right: 19rem

@media (max-width: 768px)
    html
        font-size: 7px
    .cards
        height: 135rem
        grid-template-columns: 32rem
        grid-template-rows: 16rem 16rem 16rem 16rem
        column-gap: 5rem
        row-gap: 10rem
    .grid_img
        width: 32rem
        right: 16rem

@media (max-width: 500px)
    html
        font-size: 7px
    .cards
        height: 135rem
        grid-template-columns: 32rem
        grid-template-rows: 16rem 16rem 16rem 16rem
        column-gap: 5rem
        row-gap: 10rem
    .grid_img
        width: 32rem
        right: 16rem

@media (max-width: 376px)
    html
        font-size: 7px
    .cards
        height: 135rem
        grid-template-columns: 32rem
        grid-template-rows: 16rem 16rem 16rem 16rem
        column-gap: 5rem
        row-gap: 10rem
    .grid_img
        width: 32rem
        right: 16rem
    .footer_li
        &_a
            letter-spacing: 0px
