{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/kafe.css' %}">
    <title>Кафе и рестораны</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="nav_panel">
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul id="menu">
                            <a href="index.html" target="_blank">
                                <li>ГЛАВНАЯ СТРАНИЦА</li>
                            </a>
                            <a href="onas.html" target="_blank">
                                <li>О НАС</li>
                            </a>
                            <a href="kontakt.html" target="_blank">
                                <li>СВЯЗАТЬСЯ С НАМИ</li>
                            </a>
                            <a href="online.html" target="_blank">
                                <li>ОНЛАЙН ТАБЛО</li>
                            </a>
                            <a href="mgazin.html" target="_blank">
                                <li>МАГАЗИНЫ</li>
                            </a>
                            <a href="kafe.html" target="_blank">
                                <li>КАФЕ И РЕСТОРАНЫ</li>
                            </a>
                        </ul>
                    </div>
                </nav>
            </div>
            <a href="index.html" class="header_logo">
                <img class="header_logo_img" src="{% static 'main/photo/Airplane_thumbnail 1.png' %}" alt="Логотип">
            </a>

        </div>




        <h1>Кафе и Рестораны</h1>
        <div class="cards">
            <div class="card_1">
                <img src="{% static 'main/photo/shokoladnitsa-14-geyt 1.png' %}" alt="" class="grid_img">
                <h3>Шоколадница <span>1 этаж</span></h3>
                <p>Кафе</p>
            </div>
            <div class="card_2">
                <img src="{% static 'main/photo/kroshka-kartoshka-vvl 1.png' %}" alt="" class="grid_img">
                <h3>Крошка Картошка<span>1 этаж</span></h3>
                <p>Кафе</p>
            </div>
            <div class="card_3">
                <img src="{% static 'main/photo/mu-mu-oz-3-etazh-3 1.png' %}" alt="" class="grid_img">
                <h3>МУ-МУ<span>1 этаж</span></h3>
                <p>Кафе</p>
            </div>
            <div class="card_4 в">
                <img src="{% static 'main/photo/bsb-4 1.png' %}" alt="" class="grid_img">
                <h3>Black Star Burger<span>1 этаж</span></h3>
                <p>Кафе</p>
            </div>
            <div class="card_5">
                <img src="{% static 'main/photo/burgerking-22geyt 2.png' %}" alt="" class="grid_img">
                <h3>Burger King<span>1 этаж</span></h3>
                <p>Кафе</p>
            </div>
        </div>






        <div class="footer">
            <div class="img_footer">
            </div>
            <ul class="footer_li">
                <li><a href="onas.html" title="О нас" class="footer_li_a">О НАС</a></li>
                <li><a href="kontakt.html" class="footer_li_a">СВЯЗАТЬСЯ С НАМИ</a></li>
                <li><a href="online.html" class="footer_li_a">ОНЛАЙН ТАБЛО</a></li>
                <li><a href="mgazin.html" class="footer_li_a">МАГАЗИНЫ</a></li>
                <li><a href="kafe.html" class="footer_li_a last">КАФЕ И РЕСТОРАНЫ</a></li>
            </ul>
        </div>
    </div>
    
</body>