{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/kontakt.css' %}">
    <title>Контакты</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="nav_panel">
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul id="menu">
                            <a href="index.html" target="_blank">
                                <li>ГЛАВНАЯ СТРАНИЦА</li>
                            </a>
                            <a href="onas.html" target="_blank">
                                <li>О НАС</li>
                            </a>
                            <a href="kontakt.html" target="_blank">
                                <li>СВЯЗАТЬСЯ С НАМИ</li>
                            </a>
                            <a href="online.html" target="_blank">
                                <li>ОНЛАЙН ТАБЛО</li>
                            </a>
                            <a href="mgazin.html" target="_blank">
                                <li>МАГАЗИНЫ</li>
                            </a>
                            <a href="kafe.html" target="_blank">
                                <li>КАФЕ И РЕСТОРАНЫ</li>
                            </a>
                        </ul>
                    </div>
                </nav>
            </div>
            <a href="index.html" class="header_logo">
                <img class="header_logo_img" src="{% static 'main/photo/Airplane_thumbnail 1.png' %}" alt="Логотип">
            </a>

        </div>



        <div class="first_section">
            <h1>Контакты</h1>
            <div class="text">
                <div class="text_">
                    <h2>АО «Международный аэропорт «Внуково»</h2>
                    <h3 class="title">Юридический адрес: Россия, 119027, г. Москва, ул. 1-я Рейсовая, 12.</h3>
                </div>
                <div class="text_">
                    <h2>Справочная служба</h2>
                    <h3>Информация по рейсам и услугам аэропорта:</h3>
                    <a href="#" class="nomer">+7 (495) 775-20-10</a>
                </div>
                <div class="text_">
                    <h2>Call-центр аэропорта Внуково</h2>
                    <h3>Соединение с администрацией и сотрудниками:</h3>
                    <a href="#" class="nomer">+7 (495) 436-80-04</a>
                </div>
                <div class="text_">
                    <h2>Горячая линия ООО «Внуково-Карго»</h2>
                    <h3>Информацию по работе почтово-грузового комплекса аэропорта Внуково можно получить по
                        круглосуточному
                        телефону:</h3>
                    <a href="#" class="nomer">+7 (495) 692-09-65</a>
                </div>
                <div class="text_1">
                    <h2>Пресс-центр</h2>
                    <h3>Представители средств массовой информации могут обращаться в пресс-центр аэропорта:</h3>
                    <p>E-mail</p>
                    <a href="#" class="nomer">press@vnukovo.ru</a>
                </div>
                <div class="text_">
                    <p>Почтовый адрес</p>
                    <h3>Россия, 119027, г. Москва, ул. 1-я Рейсовая, 12</h3>
                    <p>Адрес офиса</p>
                    <h3>Москва, центр, Вознесенский пер., 4 (ст. м. Тверская, Пушкинская, Арбатская)</h3>
                </div>

            </div>
        </div>



        <div class="footer">
            <div class="img_footer">
            </div>
            <ul class="footer_li">
                <li><a href="/about" title="О нас" class="footer_li_a">О НАС</a></li>
                <li><a href="/kontakt" class="footer_li_a">СВЯЗАТЬСЯ С НАМИ</a></li>
                <li><a href="/" class="footer_li_a">ОНЛАЙН ТАБЛО</a></li>
                <li><a href="/market" class="footer_li_a">МАГАЗИНЫ</a></li>
                <li><a href="/kafe" class="footer_li_a last">КАФЕ И РЕСТОРАНЫ</a></li>
            </ul>
        </div>
    </div>

</body>