{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/onas.css' %}">
    <title>О НАС</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="nav_panel">
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul id="menu">
                            <a href="index.html" target="_blank">
                                <li>ГЛАВНАЯ СТРАНИЦА</li>
                            </a>
                            <a href="onas.html" target="_blank">
                                <li>О НАС</li>
                            </a>
                            <a href="kontakt.html" target="_blank">
                                <li>СВЯЗАТЬСЯ С НАМИ</li>
                            </a>
                            <a href="online.html" target="_blank">
                                <li>ОНЛАЙН ТАБЛО</li>
                            </a>
                            <a href="mgazin.html" target="_blank">
                                <li>МАГАЗИНЫ</li>
                            </a>
                            <a href="kafe.html" target="_blank">
                                <li>КАФЕ И РЕСТОРАНЫ</li>
                            </a>
                        </ul>
                    </div>
                </nav>
            </div>
            <a href="index.html" class="header_logo">
                <img class="header_logo_img" src="{% static 'main/photo/Airplane_thumbnail 1.png' %}" alt="Логотип">
            </a>
    
        </div>

        <div class="first_section">
            <h1>О нас</h1>
            <div class="text-1">
                <h2>
                    Начало истории
                </h2>
                <h3>
                    Наши корни уходят в далекое прошлое, во времена, когда авиация только начала завоевывать небеса. В
                    1930-х годах в этом регионе начались первые попытки создания воздушного узла, который мог бы
                    обслуживать пассажиров и грузы. Маленькая полоса для взлета и посадки была поставлена и открыта для
                    общественности.
                </h3>
            </div>
            <div class="text-2">
                <h2>
                    Развитие во времена войны и послевоенного периода

                </h2>
                <h3>
                    Во времена Второй мировой войны аэропорт стал стратегически важным объектом. Его использовали для
                    военных нужд, а также как базу для тренировки военных летчиков. После войны, в период реконструкции
                    и восстановления, он стал частью новой эпохи гражданской авиации, и постепенно развивался как место,
                    связывающее наших жителей с другими городами и странами мира.
                </h3>
            </div>
            <div class="text-3">
                <h2>
                    Рост и современность
                </h2>
                <h3>
                    С каждым десятилетием наш аэропорт рос и совершенствовался. Мы не только увеличили площадь аэропорта
                    и расширили его инфраструктуру, но и постоянно совершенствовали обслуживание и условия для
                    пассажиров. Современные технологии, безопасность, комфорт и экологическая устойчивость стали для нас
                    приоритетом.
                </h3>
            </div>
            <div class="text-4">
                <h2>
                    Наши ценности
                </h2>
                <h3>
                    Наш аэропорт не просто место для отправления и прибытия, но и центр, где мы стремимся создать
                    приятные и запоминающиеся моменты для всех, кто выбирает нас. Мы гордимся нашей преданностью
                    безопасности и надежности, а также уделяем особое внимание уровню обслуживания, который делает ваше
                    путешествие приятным и комфортным.
                </h3>
            </div>
            <div class="text-5">
                <h2>
                    Смотрим в будущее
                </h2>
                <h3>
                    Наши планы на будущее включают в себя дальнейшее совершенствование инфраструктуры, увеличение числа
                    направлений и авиалиний, а также внедрение новых экологически устойчивых технологий. Мы стремимся
                    оставаться ведущим аэропортом в регионе и приглашаем вас присоединиться к нам в этом захватывающем
                    путешествии.
                    Спасибо, что выбираете наш аэропорт. Мы гордимся тем, что сможем сделать ваше путешествие приятным и
                    беззаботным, и надеемся, что вы всегда будете чувствовать себя как дома при посещении нас.
                </h3>
            </div>
        </div>

    <div class="footer">
        <div class="img_footer">
        </div>
        <ul class="footer_li">
            <li><a href="onas.html" title="О нас" class="footer_li_a">О НАС</a></li>
            <li><a href="kontakt.html" class="footer_li_a">СВЯЗАТЬСЯ С НАМИ</a></li>
            <li><a href="online.html" class="footer_li_a">ОНЛАЙН ТАБЛО</a></li>
            <li><a href="mgazin.html" class="footer_li_a">МАГАЗИНЫ</a></li>
            <li><a href="kafe.html" class="footer_li_a last">КАФЕ И РЕСТОРАНЫ</a></li>
        </ul>
    </div>
</div>
    
</body>