{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/online.css' %}">
    <title>Онлайн табло</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="nav_panel">
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul id="menu">
                            <a href="/index" target="_blank">
                                <li>ГЛАВНАЯ СТРАНИЦА</li>
                            </a>
                            <a href="/about" target="_blank">
                                <li>О НАС</li>
                            </a>
                            <a href="/kontakt" target="_blank">
                                <li>СВЯЗАТЬСЯ С НАМИ</li>
                            </a>
                            <a href="/" target="_blank">
                                <li>ОНЛАЙН ТАБЛО</li>
                            </a>
                            <a href="/market" target="_blank">
                                <li>МАГАЗИНЫ</li>
                            </a>
                            <a href="/kafe" target="_blank">
                                <li>КАФЕ И РЕСТОРАНЫ</li>
                            </a>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="forms">
                <a href="/index" class="header_logo">
                    <img class="header_logo_img" src="{% static 'main/photo/Airplane_thumbnail 1.png' %}" alt="Логотип">
                </a>
                <div class="reg">
                    {% url 'register' as url_register %}
                    <a href="{{url_register}}" class="text_reg">Регистрация</a>
                </div>
                <div class="login">
                    {% url 'login' as url_login %}
                    <a href="{{url_login}}" class="text_reg">Авторизация</a>
                </div>

                <a href="#" class="text_reg text_reg_1">{{request.user}}</a>
            </div>
        </div>


        <div class="first_section">
            <div class="buttons">
                <a class="glav glav_1" id="button1" onclick="changeText(1), toggleButton(1)">Вылет</a>
                <a class="glav glav_2" id="button2" onclick="changeText(2), toggleButton(2)">Прилет</a>
            </div>
            <div class="panel_1">
                <h3 class="panel_a panel_a-1">Время <span id="element12">вылета</span> </h3>
                <h3 class="panel_a panel_a-2">Направления</h3>
                <h3 class="panel_a panel_a-3">Авиакомпания</h3>
                <h3 class="panel_a panel_a-4">Терм.</h3>
                <h3 class="panel_a">Статус</h3>
            </div>
            {% block content %}
            {% for el in news %}
            <div class="cards">
                <div class="card card_1" id="departureCard1">
                    <h2 id="element1" class="text_card text_card_1">{{ el.time }}</h2>
                    <h2 id="element2" class="text_card text_card_2">{{ el.name }}</h2>
                    <h2 id="element3" class="text_card text_card_3">{{ el.company }}</h2>
                    <h2 id="element4" class="text_card text_card_4">{{ el.term }}</h2>
                    <h2 id="element5" class="text_card text_card_5">{{ el.status }}</h2>
                </div>
                <hr>
            </div>
            {% endfor %}
            {% endblock %}
        </div>




        <div class="footer">
            <div class="img_footer">
            </div>
            <ul class="footer_li">
                <li><a href="/about" title="О нас" class="footer_li_a">О НАС</a></li>
                <li><a href="/kontakt" class="footer_li_a">СВЯЗАТЬСЯ С НАМИ</a></li>
                <li><a href="/" class="footer_li_a">ОНЛАЙН ТАБЛО</a></li>
                <li><a href="/market" class="footer_li_a">МАГАЗИНЫ</a></li>
                <li><a href="/kafe" class="footer_li_a last">КАФЕ И РЕСТОРАНЫ</a></li>
            </ul>
        </div>
    </div>
    <script src="{% static 'main/js/tablo.js' %}">

    </script>
</body>

</html>